* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding-left: 100px;
  padding-right: 50px;
}

nav a {
  padding: 16px 6px 16px 10px;
  color: #262626;
  font-size: 11px;
  font-weight: 400;
}

nav a:hover {
  text-decoration: underline;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-right i {
  padding-left: 10px;
  color: rgb(0, 0, 0, 0.6);
  font-size: 14px;
}

.logo {
  width: 137px;
  padding-right: 20px;
}

.section-1 {
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hero-M365-Screenplates-Update-Excel:VP5-1920x600");
  background-size: 100%;
  height: 430px;
  padding: 150px;
  width: 100%;
}

.section-1 h3 {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 15px;
}

.section-1 p {
  font-size: 16px;
  font-weight: 400;
}

.links {
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.link-1 {
  background-color: #0067b8;
  color: white;
  font-size: 14px;
  width: 154px;
  height: 35px;
  padding: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

.link-2 {
  color: #0067b8;
  font-size: 14px;
  font-weight: 500;
}

.link-2:hover {
  text-decoration: underline;
}

.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.section-2 a{
  color: #0067b8;
  font-weight: 600;
  font-size: 16px;
}

.promos {
  padding: 30px;
}

.promos img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

.promos a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  padding: 1px;
  font-weight: 400;
}

.card-1 {
  display: flex;
  align-items: center;
}

.section-3 {
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s3-cards {
  padding: 10px;
  margin-bottom: 100px;
  width: 25%;
}

.s3-cards img {
  height: 170px;
  width: 300px;
  margin-bottom: 15px;
}

.s3-cards h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.s3-cards p {
  margin-bottom: 15px;
}

.s3-cards a {
  color: #0067b8;
}

.section-4 {
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-Hero-MSCOM-Outlook-iOS-Android:VP5-1596x600");
  background-size: 100%;
  height: 500px;
  width: auto;
  background-repeat: no-repeat;
  padding: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.section-4 h3 {
  margin-top: 50px;
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 15px;
}

.section-4 p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 35px;
}

.section-4 a {
  background-color: #0067b8;
  color: white;
  font-size: 14px;
  width: 140px;
  height: 35px;
  padding: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

.section-5 {
  margin-right: 0px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s5-cards {
  width: 25%;
}

.s5-cards img {
  height: 170px;
  width: 300px;
  margin-bottom: 15px;
}

.s5-cards h3 {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 15px;
}

.s5-cards p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.s5-cards a {
  color: #0067b8;
  font-size: 14px;
  font-weight: 600;
}

.s5-cards a:hover,
.s3-cards a:hover {
  text-decoration: underline;
}

.s5-cards i {
  padding-left: 5px;
}

.s5-cards a {
  font-weight: 400;
}

.end {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.end p {
  font-size: 1rem;
}

.end i {
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  font-size: 22px;
}

footer {
  margin-top: 40px;
  background-color: #f2f2f2;
  display: flex;
  padding: 70px;
  justify-content: space-between;
}

footer li {
  list-style: none;
  padding: 5px;
}

footer a {
  text-decoration: none;
  font-size: 13px;
  color: rgb(0, 0, 0, 0.8);
}

footer a:hover {
  text-decoration: underline;
}

footer h2 {
  padding-left: 4px;
  margin-bottom: 15px;
  font-size: 15px;
}

.end-end {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.end-end a {
  color: black;
  font-size: 11px;
  padding: 5px;
}

.end-end i {
  margin-right: 10px;
}

.end-end span {
  font-size: 13px;
}

.end-end a:hover {
  text-decoration: underline;
}
